{% extends "::base.html.twig" %}

{% block title %}AnalyzerBundle:AnalyzerHome:SaveOfficialData{% endblock %}

{% block body %}
<h1>Welcome to the AnalyzerHome:SaveOfficialData page</h1>
{% endblock %}
